# Dependencies
node_modules/

# Environment Variables (Keep secrets safe!)
.env
.env.production
.env.development
.env.local

# But DO allow the example file to be uploaded
!.env.production.example

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db